---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
  {
    date: "June 2023 - Present",
    title: "Junior Web Developer",
    company: "Grupo Pulser (Remote, Mexico)",
    description: [
      "Developed and maintained web applications using CakePHP, Python, JavaScript, and React.",
      "Worked on both front-end and back-end development, ensuring seamless integration and functionality.",
      "Designed and managed databases in MySQL, optimizing queries and ensuring data integrity.",
      "Collaborated with cross-functional teams to deliver features according to client specifications and timelines.",
      "Implemented responsive designs to enhance user experience across different devices.",
      "Participated in code reviews and debugging sessions to improve code quality and system performance.",
      "Assisted in the deployment of applications and continuous integration processes.",
    ],
  },
  {
    date: "January 2023 - September 2023",
    title: "Quality Assurance",
    company: "Freelance (Caracas, Venezuela)",
    description: [
      "I helped in the development of a platform.",
      "Planned and ran manual tests on the platform.",
      "Documented errors and proposed changes.",
      "Collaborated with the development team and all stakeholders to ensure customer requirements were met.",
    ],
  },
  {
    date: "April 2022 - May 2023",
    title: "E-commerce Assistant",
    company: "Officinca (Remote, Spain)",
    description: [
      "Managed product listings on the Prestashop platform.",
      "Created product content, including image selection, descriptive texts, and keywords for SEO optimization.",
    ],
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
