---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2023 - October 2023",
    title: "QA Analist",
    company: "Freelance",
    description:
      "I was Quality Analist for a development in a startup. I helped in the development of a platform, planning and executing manual tests, documenting bugs, changes and reporting how to replicate bugs through Jira tickets. Collaborate with the development team and all parties involved to ensure customer requirements.",
  },
  {
    date: "February 2022 - March 2023",
    title: "E-commerce Assistant",
    company: "Officinca",
    description:
      "I was in charge of publications in the Prestashop platform, including the creation of attractive and optimized product cards, for optimal viewing and shopping experience.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
